.navDesign{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     list-style-type: none;
      font-family: 'Inknut Antiqua';
      font-size: 20px;
      font-weight:550;
}
/*Logo*/
.header-logo{
    height: 76px;
    width: fit-content;
}

.nav-links li a,
.nav-links li p {
    font-size: 1.5rem!important;
    font-weight: 600;
    padding: 0px 0;
    margin: 0px 30px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}



.active {
    transition: all 0.3s ease;

}

.nav-links li a.active {
    border-radius: 2px;
    border-bottom: 2px solid #F1B434;
}


/* .nav-links li a.active {
    text-decoration: underline;
    
  } */

 
.maintain a:is(:hover, :focus, :focus-visible ) {
    /* color: gold !important; */
    outline: none;
}
