.heroImage {
  height: 95vh; /* Adjust the height as needed */
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Add the parallax effect */
.homePart {
  overflow-x: hidden;
  overflow-y: auto;
  
}
.react-parallax-bgimage{
  height:98vh!important
}

/*  Carousel*/


.scroll-collection {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: -73px;
}

.cover {
    height: 87%;
      width: calc(470px * 3 + 70px * 3);
      padding-left: 2%;
}

.parent-arrow {
  align-self: center;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.arrows-heights {
  height: 65px;
    width:73px;
}

.child-image1 {
  width: 372px;
  height: 298px;
}
.child-image2 {
  width: 372px;
  height: 298px;
}
.child-image {
  width: 317px;
  height: 298px;
}

.leftarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}

.rightarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}
.scroll-devs {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  
}

/*Services Design*/

.services1{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 90px;
  margin-left:60px 
}
.services{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}
.services3{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}

.services4{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}
.services5{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}

.booking{
    background: linear-gradient(180deg, rgba(241, 180, 52, 1) -0.0021576953671145257%, rgba(241, 199, 52, 0) 99.99784221151987%);

    border-radius: 9.203947067260742px;
  width: 143.58px;
  height: 36.82px;
    transition: all 0.3s ease;
  
}
.booking:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: linear-gradient(180deg, rgba(255, 254, 245, 0.47) 0%, rgba(255, 254, 242, 0.46) 0.01%, rgba(247, 239, 138, 0.00) 100%);
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.booking:hover{
   color: #000;
   box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
   transform: translateY(-0.25em);

}

.booking:hover::after{
  left: 0;
  width: 100%;
}

.booking:active{
  top: 5px;
}

.paragraphofServices{
  font-size: 23.03px;
  font-weight:  400;
  font-family:'Inknut Antiqua' ;
}

.titleServices{
  font-family: 'Inknut Antiqua';
font-size: 30.01px;
font-weight: 550;
line-height: 0px;
margin-top:50px;
}
.line{
      margin-top: -73px;
      margin-left: 3%;
  /* margin-bottom: 35px; */
}




/*Discover*/
.discover{
  margin-top:50px;
border-radius: 10px;
background: linear-gradient(180deg, rgba(255, 254, 245, 0.47) 0%, rgba(255, 254, 242, 0.46) 0.01%, rgba(247, 239, 138, 0.00) 100%);

}
.discoverParagraph{

  color: #000;
text-align: center;
font-family: Inknut Antiqua;
font-size: 23.01px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left:400px;
padding-right: 400px;
margin-top: -43px;
}
.discoverTitle{
  color: #000;
font-family: Inknut Antiqua;
font-size: 30.01px;
font-style: normal;
line-height: 0px;
padding-top: 46px;
font-weight: 550;
}

.aboutUsTitle{
color: #000;
font-family: Inknut Antiqua;
font-size: 30.01px;
font-style: normal;
line-height: 0px;
padding-top: 46px;
font-weight: 550;
}
.aboutUsSection{
  display: flex;
  padding-right: 100px;
   padding-left: 100px;
  
}
.aboutUsParagraph{
  text-align: justify;
  padding-right: 50px;
  width: 50%;
  color: #000;
  font-family: Inknut Antiqua;
  font-size: 23.01px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
 

}
.imageAboutUs{
  width: 50%;

}

/*PopUp*/
/* .res-popup-contentRes {
  background-color: white;
  
  border-radius: 15px;
  
  max-width: 645px;
  
 

  margin: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500px;
} */

  .res-popupRes {
    position: fixed;
    top: 0px; 
    left: 0;
    width: 100%;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
    z-index: 9999; 
  
    
  }

   @media (max-width:330px){

    .line{
      
      margin-left: -18%;
  /* margin-bottom: 35px; */
}
    .discoverTitle{
      font-size: 18px;
    }

     .react-parallax-bgimage{
      width: 513px !important;;
      }

    
    .scroll-devs{
      align-items: flex-start;
    }
    .cover{
      height: 87%;
      width: 247px;
      padding-left: 0%; 
    }
    .arrows-heights{
    height: 30px;
    width: 27px;
      /* width: fit-content;
      height: fit-content; */
         
    }
    .rightarrow{
      margin-right: 45px;
    }
   .services1 {
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-right: 8px;
    margin-left: 1%;
}

    .services {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 17%;
    margin-right: 8px;
}
  .services3 {
    width: 163px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
.services4 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
  .services5 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 8px;
}
    .child-image1 {
    width: 167px;
    height: 208px;
    }

    .child-image2 {
    width: 177px;
    height: 208px;
    }

    .paragraphofServices {
    font-size: 15.03px;
    font-weight: 400;
    font-family: 'Inknut Antiqua';
    }

    .booking{
      width: 78.58px;
    }

    .discoverParagraph {
      text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    margin-right: 10px;
    margin-left: 10px;
  }

  
  .titleServices{
    font-size: 21.01px;
  }

  .aboutUsTitle{
    font-size: 21.01px;
  }

  .aboutUsSection {
    display: flex;
    flex-direction: column-reverse;
   
    display: flex;
    padding-right: 0px; 
    padding-left: 0px;
    margin-right:10px

    
}
.aboutUsParagraph {
    text-align: center;
    color: #000;
    width: 100%;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-right: 9px;
   margin-left: 5px;
}

  .vid{
        padding-bottom: 24px;
        margin-left:20px;
        margin-right: 10px;
        
  }
  

  }

  
  @media (min-width:331px) and (max-width:480px){
    

    .line{
      
      margin-left: -10%;
  /* margin-bottom: 35px; */
}

    .react-parallax-bgimage{
      width: 513px !important;;
      }

    
    .scroll-devs{
      align-items: flex-start;
    }
    .cover{
      height: 87%;
      width: 247px;
      /* padding-left: 2%; */
    }
    .arrows-heights{
      height: 43px;
      width: 36px;
     
    }
    
   .services1 {
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-right: 8px;
    margin-left: 1%;
}

    .services {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 17%;
    margin-right: 8px;
}
  .services3 {
    width: 163px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
.services4 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
  .services5 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 8px;
}
    .child-image1 {
    width: 167px;
    height: 208px;
    }

    .child-image2 {
    width: 177px;
    height: 208px;
    }

    .paragraphofServices {
    font-size: 15.03px;
    font-weight: 400;
    font-family: 'Inknut Antiqua';
    }

    .booking{
      width: 78.58px;
    }

    .discoverParagraph {
      text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .discoverTitle{
    font-size: 21.01px;
  }
  .titleServices{
    font-size: 21.01px;
  }

  .aboutUsTitle{
    font-size: 21.01px;
  }

  .aboutUsSection {
    display: flex;
    flex-direction: column-reverse;
   
    display: flex;
    padding-right: 0px; 
    padding-left: 0px;
    margin-right:10px

    
}
.aboutUsParagraph {
    text-align: center;
    color: #000;
    width: 100%;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-right: 9px;
   margin-left: 5px;
}

  .vid{
        padding-bottom: 24px;
        margin-left:20px;
        margin-right: 10px;
        
  }
  }

  
  @media (min-width: 481px) and (max-width: 765px) {
    
  .scroll-devs{
      align-items: flex-start;
    }
    .cover{
      height: 87%;
      width: 247px;
      /* padding-left: 2%; */
    }
    .arrows-heights{
      height: 65px;
      width:73px;
      /* width: fit-content;
      height: fit-content; */
    }
    
   .services1 {
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-right: 8px;
    margin-left: 1%;
}

    .services {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 17%;
    margin-right: 8px;
}
  .services3 {
    width: 163px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
.services4 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
  .services5 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 8px;
}
    .child-image1 {
    width: 167px;
    height: 208px;
    }

    .child-image2 {
    width: 177px;
    height: 208px;
    }

    .paragraphofServices {
    font-size: 15.03px;
    font-weight: 400;
    font-family: 'Inknut Antiqua';
    }

    .booking{
      width: 78.58px;
    }

    .discoverParagraph {
      text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .discoverTitle{
    font-size: 21.01px;
  }
  .titleServices{
    font-size: 21.01px;
  }

  .aboutUsTitle{
    font-size: 21.01px;
  }

  .aboutUsSection {
    display: flex;
    flex-direction: column-reverse;
   
    display: flex;
    padding-right: 0px; 
    padding-left: 0px;
    margin-right:10px

    
}
.aboutUsParagraph {
    text-align: center;
    color: #000;
    width: 100%;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-right: 9px;
   margin-left: 5px;
}

  .vid{
        padding-bottom: 24px;
        margin-left:20px;
        margin-right: 10px;
        
  }
}


@media (min-width: 765px) and (max-width: 900px) {
    .line{
      
      margin-left: 3%;
  /* margin-bottom: 35px; */
}
  .scroll-devs{
      align-items: flex-start;
    }
    .scroll-collection {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}
    .cover{
      height: 87%;
      width: 247px;
      /* padding-left: 2%; */
    }
    .arrows-heights{
      height: 45px;
      width: 52px;
    }
    
    
   .services1 {
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-right: 8px;
    margin-left: 1%;
}

    .services {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 17%;
    margin-right: 8px;
}
  .services3 {
    width: 163px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
.services4 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 19%;
    margin-right: 0px;
}
  .services5 {
    width: 171px;
    border: 2px solid #F1B434;
    border-radius: 10px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 8px;
}
    .child-image1 {
    width: 167px;
    height: 208px;
    }

    .child-image2 {
    width: 177px;
    height: 208px;
    }



    .paragraphofServices {
    font-size: 15.03px;
    font-weight: 400;
    font-family: 'Inknut Antiqua';
    }

    .booking{
      width: 78.58px;
    }

    .discoverParagraph {
      text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .discoverTitle{
    font-size: 21.01px;
  }
  .titleServices{
    font-size: 21.01px;
  }

  .aboutUsTitle{
    font-size: 21.01px;
  }

  .aboutUsSection {
    display: flex;
    flex-direction: column-reverse;
   
    display: flex;
    padding-right: 0px; 
    padding-left: 0px;
    margin-right:10px

    
}
.aboutUsParagraph {
    text-align: center;
    color: #000;
    width: 100%;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-right: 9px;
   margin-left: 5px;
}

  .vid{
        padding-bottom: 24px;
        margin-left:20px;
        margin-right: 10px;
        
  }
}

/* Responsive styles for screens between 768px and 791px */
@media (min-width: 901px) and (max-width: 1400px) {
 
  .scroll-collection {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}

.cover {
    height: 87%;
      width: calc(261px * 3 + 70px * 3);
      padding-left: 2%;
}

.parent-arrow {
  align-self: center;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.arrows-heights {
  height: 65px;
    width:73px;
  /* height: 100%;
    width: 100%; */
}

.child-image1 {
  width: 308px;
  height: 298px;
}
.child-image2 {
  width: 300px;
  height: 298px;
}
.child-image {
  width: 317px;
  height: 298px;
}

.leftarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}

.rightarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}
.scroll-devs {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  
}

/*Services Design*/

.services1{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 90px;
  margin-left:60px;
  width:300px 
}
.services{
  width:299px;
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}
.services3{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}

.services4{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}
.services5{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 80px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}


    .paragraphofServices {
    font-size: 15.03px;
    font-weight: 400;
    font-family: 'Inknut Antiqua';
    }

    .booking{
      width: 78.58px;
    }

    .discoverParagraph {
      text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .discoverTitle{
    font-size: 21.01px;
  }
  .titleServices{
    font-size: 21.01px;
  }

  .aboutUsTitle{
    font-size: 21.01px;
  }

  .aboutUsSection {
    display: flex;
    flex-direction: column-reverse;
   
    display: flex;
    padding-right: 0px; 
    padding-left: 0px;
    margin-right:10px

    
}
.aboutUsParagraph {
    text-align: center;
    color: #000;
    width: 100%;
    font-family: Inknut Antiqua;
    font-size: 16.01px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-right: 9px;
   margin-left: 5px;
}

  .vid{
        padding-bottom: 24px;
        margin-left:20px;
        margin-right: 10px;
        
  }
}


@media (min-width: 1401px) and (max-width: 1420px) {
 
  .scroll-collection {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}

.cover {
    height: 87%;
      width: calc(365px * 3 + 70px * 3);
      padding-left: 2%;
}

.parent-arrow {
  align-self: center;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.arrows-heights {
  height: 65px;
    width:73px;
  /* height: 100%;
    width: 100%; */
}

.child-image1 {
  width: 308px;
  height: 298px;
}
.child-image2 {
  width: 300px;
  height: 298px;
}
.child-image {
  width: 317px;
  height: 298px;
}

.leftarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}

.rightarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}
.scroll-devs {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  
}

/*Services Design*/

.services1{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
  margin-left:60px;
  width:300px 
}
.services{
  width:299px;
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}
.services3{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}

.services4{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}
.services5{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}


    
}

@media (min-width: 1421px) and (max-width: 1780px) {
 
  .scroll-collection {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}

.cover {
    height: 87%;
      width: calc(365px * 3 + 70px * 3);
      padding-left: 2%;
}

.parent-arrow {
  align-self: center;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.arrows-heights {
  height: 65px;
  width:73px;
  /* height: 100%;
    width: 100%; */
}

.child-image1 {
  width: 308px;
  height: 298px;
}
.child-image2 {
  width: 300px;
  height: 298px;
}
.child-image {
  width: 317px;
  height: 298px;
}

.leftarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}

.rightarrow {
  background: none;
  border: 0px;
  height: 78px;
  width: fit-content;
}
.scroll-devs {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  
}

/*Services Design*/

.services1{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
  margin-left:60px;
  width:300px 
}
.services{
  width:299px;
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}
.services3{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}

.services4{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}
.services5{
  border: 2px solid #F1B434;
  border-radius: 10px;
  padding:30px;
  margin-right: 41px;
}
.child-image1:hover{
  transform:translateY(-0.5rem);
}
.child-image2:hover{
  transform:translateY(-0.5rem);
}


    
}



  