.contact-us h1 {
    font-size: 40px;
    font-weight: bold;
    color: #F1B434;
}
.daily-button{
    margin-left: 32%;
    background: linear-gradient(180deg, rgba(241, 180, 52, 1) -0.0021576953671145257%, rgba(241, 199, 52, 0) 99.99784221151987%);
    border-radius: 9.203947067260742px;
    width: 143.58px;
    height: 36.82px;
    transition: all 0.3s ease;
    
}
.daily-button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: linear-gradient(180deg, rgba(255, 254, 245, 0.47) 0%, rgba(255, 254, 242, 0.46) 0.01%, rgba(247, 239, 138, 0.00) 100%);
  border-radius: 5px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.daily-button:hover{
   color: #000;
   box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
   transform: translateY(-0.25em);

}

.daily-button:hover::after{
  left: 0;
  width: 100%;
}

.daily-button:active{
  top: 5px;
}

.primaryPar{
    color: #000;
    text-align: center;
    font-family: "Handlee";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.contact-form {
    width: 100%;
    height:90%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 14px 0px;
    padding: 3vh;
    gap: 10px;
}

.contact-form label {
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
}

.textContactUsBox{
    display: flex;
   
}

.contact-form input {
    padding: 10px;
    border: 2px solid rgb(214, 214, 214);
    width: 95%;
    border-radius: 2px;
}

.contact-form input:focus,
.contact-form .message:focus {
    outline: none;
}

.contact-form .message {
    height: 100px;
    border: 2px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    resize: none;
}

.form-sbmt {
    font-size: 20px;
    background-color:#F1B434;
    padding: 15px;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 2px solid #F1B434;
    box-shadow: 3px 3px grey;
    margin-bottom: 30px;
    color: darkslategray;
    font-weight: 900;
}

.form {
    width: 35%;
}



.contact-us {
    width: 100%;
    min-height: 85vh;
    background-color: white;
    position: relative;
}

.secondary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.primary {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    letter-spacing: 1px;
}

.primary h1 {
    font-size: 40px;
}

.primary p {
    font-size: 20px;
    width: 80%;
    text-align: center;
    color: darkslategray;
    margin-top: 10px;
}

.insider {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.google-map {
    width: 400px;
    align-items: flex-end;
}

.map {
    padding-left: 170px;
}

.iframe {
    height: 555px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 14px 0px;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .primary {
        width: 100%;
        padding: 2vh;
            margin-top: 74px;
    }

    .insider {
        flex-direction: column;
    }

    .map {
        padding-left: 0;
    }

    .contact-form {
    width: 259px;
    padding: 2vh;
}

    .contact-form label {
        font-size: 16px;
    }

    .contact-form input,
    .contact-form .message {
        font-size: 14px;
    }


    .contact-form input{
            width:93%
    }
    .form-sbmt {
        font-size: 16px;
        padding: 10px;
    }

    .google-map {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map {
        padding: 0;
    }

    .iframe {
        width: 100%;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 14px 0px;
        margin-bottom: 20px;
    }

    .insider {
        width: 77%;
        margin: 0 auto;
        display: flex;
        gap: 30px;
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .primary {
        width: 90%;
        padding: 4vh;
    }

    .primary p {
        font-size: 30px;
        width: 100%;
        text-align: center;
        color: darkslategray;
        margin-top: 10px;
    }

    .primary h1 {
        font-size: 60px;
    }


    .insider {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-left: 0;
    }

    .contact-form {
        width: 480px;
        padding: 3vh;
        margin: 0 auto;
    }

    .form-sbmt {
        font-size: 18px;
        padding: 12px;
    }

    .google-map {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .map {
        padding-left: 0;
        margin-left: 270px;
        margin-bottom: 20px;
    }


    .iframe {
        height: 400px;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 14px 0px;
    }

}
@media (max-width: 350px){
.contact-form {
    width: 243px;
    padding: 2vh;
}
}