.navDesign{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     list-style-type: none;
      font-family: 'Inknut Antiqua';
      font-size: 20px;
      font-weight:550;
}
/*Logo*/
.header-logo{
    height: 76px;
    width: fit-content;
}